:root {
  --white: #e9edc9;
  --lightgreen: #f3d8c7;
  --darkgreen: #ccd5ae;
  --dark: #e9edc9;
}

.App {
  background-color: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login .buttons {
  background-color: #99AC5D;
  padding: 5px 12px;
  color: white;
  border: none;
  border-radius: 6px;
}

.login .buttons:hover {
  background-color: #ccd5ae;
}

/* Login Page */
.card-nav {
  color: var(--darkgreen);
}

.login {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  
}

.login .login-card {
  background-color: var(--darkgreen);
}

.sm-2 .mb-3 .text-danger{
color: black;
}

